.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: var(--rtc-m-space);
}

.pagination > button {
width: 90px;
height: 40px;
  border-radius: 8px;
  border:  0.2px solid rgba(255, 255, 255, 0.593);
  background-color: rgba(244, 67, 67, 0.637);
  color: var(--rtc-white-color);
  font-size: 15px;
  cursor: pointer;
}
.pagination > p {
  font-size: 20px;
  width: 100px;
  text-align: center;
}

.pagination > button:disabled {
  background-color: rgba(128, 128, 128, 0.61);
  cursor: default;
}

